{% extends 'app/index.html' %}
{% load static %}

{% block titulo %}
    Lista de Clientes
{% endblock titulo %}

{% block cabecera %}
    Lista de Clientes
{% endblock cabecera %}

{% block cabecera2 %}
Un listado detallado de nuestros clientes
{% endblock cabecera2 %}  

{% block contenido %}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white">Lista de Clientes</h2>
                <table class="table table-bordered text-white">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Email</th>
                            <th>Acciones</th> <!-- Columna para acciones -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente.nombre }}</td>
                                <td>{{ cliente.direccion }}</td>
                                <td>{{ cliente.email }}</td>
                                <td>
                                    <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-sm btn-primary">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                    <a href="{% url 'borrar_cliente' cliente.id %}" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash-alt"></i> Borrar
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">No hay clientes registrados</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="mt-4 text-center">
                    <a class="navbar-brand text-white" href="{% url 'clientes' %}">Atrás</a>
                </div>
                <div class="mt-2 text-center">
                    <a class="navbar-brand text-white" href="{% url 'Home' %}">Volver al inicio</a>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <img class="img-fluidmx-auto" style="max-width: 500px;" src="{% static 'app/assets/img/1.png' %}" alt="..." />
        </div>
    </div>
</section>
{% endblock contenido %}


