{% extends 'app/index.html' %}
{% load static %}

{% block titulo %}
    Lista de Pedidos
{% endblock titulo %}

{% block cabecera %}
    Lista de Pedidos
{% endblock cabecera %}

{% block cabecera2 %}
Listado de pedidos con sus detalles
{% endblock cabecera2 %}  


{% block contenido %}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <h2 class="text-white">Lista de Pedidos</h2>
                <div class="table-responsive">
                    <table class="table table-bordered text-white">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acciones</th>  <!-- Columna para acciones -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for pedido in pedidos %}
                                <tr>
                                    <td>{{ pedido.cliente.nombre }}</td>
                                    <td>{{ pedido.producto.nombre }}</td>
                                    <td>{{ pedido.cantidad }}</td>
                                    <td>${{ pedido.total }}</td>
                                    <td>
                                        <a href="{% url 'editar_pedido' pedido.id %}" class="btn btn-primary">Editar</a>
                                        <a href="{% url 'borrar_pedido' pedido.id %}" class="btn btn-danger">Borrar</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No hay pedidos registrados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-4 text-center">
                    <a class="btn btn-light" href="{% url 'pedido' %}">Atrás</a>
                </div>
                <div class="mt-2 text-center">
                    <a class="btn btn-light" href="{% url 'Home' %}">Volver al inicio</a>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <img class="img-fluidmx-auto" style="max-width: 500px;" src="{% static 'app/assets/img/1.png' %}" alt="..." />
        </div>
    </div>
</section>
{% endblock contenido %}

