{% extends 'app/index.html' %}

{% block titulo %}
    Registrar producto
{% endblock titulo %}

{% block cabecera %}
    Registrar producto
{% endblock cabecera %}

{% block contenido %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Home' %}">Volver al inicio</a>
    </div>
</nav>
<h1>Registrar producto</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>

{% endblock contenido %}
