{% extends 'app/index.html' %}

{% block titulo %}
    Registrar producto
{% endblock titulo %}

{% block cabecera %}
    Registrar producto
{% endblock cabecera %}

{% block contenido %}
<body>
    <h1>Resultados de Búsqueda</h1>
    <h2>Clientes:</h2>
    <ul>
        {% for cliente in resultados_clientes %}
        <li>{{ cliente }}</li>
        {% empty %}
        <li>No se encontraron resultados</li>
        {% endfor %}
    </ul>

    <h2>Productos:</h2>
    <ul>
        {% for producto in resultados_productos %}
        <li>{{ producto }}</li>
        {% empty %}
        <li>No se encontraron resultados</li>
        {% endfor %}
    </ul>
    <h2>Pedidos:</h2>
    <ul>
        {% for pedidos in resultados_pedidos %}
        <li>{{ pedido }}</li>
        {% empty %}
        <li>No se encontraron resultados</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock contenido %}