{% extends 'app/index.html' %}
{% load static %}

{% block titulo %}
    Resultados de Búsqueda
{% endblock titulo %}

{% block cabecera %}
    Resultados de Búsqueda
{% endblock cabecera %}

{% block cabecera2 %}
Una forma rapida de encontrar el producto, cliente o pedido!
{% endblock cabecera2 %}  

{% block contenido %}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-white">Resultados de Búsqueda</h1>
                <h2 class="text-white">Clientes:</h2>
                <ul class="text-white">
                    {% for cliente in resultados_clientes %}
                        <li>{{ cliente }}</li>
                    {% empty %}
                        <li>No se encontraron resultados</li>
                    {% endfor %}
                </ul>

                <h2 class="text-white">Productos:</h2>
                <ul class="text-white">
                    {% for producto in resultados_productos %}
                        <li>{{ producto }}</li>
                    {% empty %}
                        <li>No se encontraron resultados</li>
                    {% endfor %}
                </ul>
                
                <h2 class="text-white">Pedidos:</h2>
                <ul class="text-white">
                    {% for pedido in resultados_pedidos %}
                        <li>{{ pedido }} - Valor: ${{ pedido.total }}</li>
                    {% empty %}
                        <li>No se encontraron resultados</li>
                    {% endfor %}
                </ul>
                
                <a href="{% url 'Home' %}" class="btn btn-primary">Volver al Inicio</a>
                <a href="{% url 'buscar' %}" class="btn btn-primary">Nueva Búsqueda</a>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}


