{% extends 'app/index.html' %}
{% load static %}

{% block titulo %}
    Resultados de Búsqueda
{% endblock titulo %}

{% block cabecera %}
    Resultados de Búsqueda
{% endblock cabecera %}

{% block cabecera2 %}
Una forma rápida de encontrar el producto, cliente o pedido!
{% endblock cabecera2 %}  

{% block contenido %}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-white">Resultados de Búsqueda</h1>
                
                <h2 class="text-white">Clientes:</h2>
                {% if resultados_clientes %}
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in resultados_clientes %}
                        <tr>
                            <td>{{ cliente }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-white">No se encontraron resultados</p>
                {% endif %}

                <h2 class="text-white">Productos:</h2>
                {% if resultados_productos %}
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in resultados_productos %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td>{{ producto.precio }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-white">No se encontraron resultados</p>
                {% endif %}
                
                <h2 class="text-white">Pedidos:</h2>
                {% if resultados_pedidos %}
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>Pedido</th>
                            <th>Valor</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in resultados_pedidos %}
                        <tr>
                            <td>{{ pedido }}</td>
                            <td>${{ pedido.total }}</td>
                            <td>{{ pedido.fecha_pedido }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-white">No se encontraron resultados</p>
                {% endif %}
                
                <a href="{% url 'Home' %}" class="btn btn-primary">Volver al Inicio</a>
                <a href="{% url 'buscar' %}" class="btn btn-primary">Nueva Búsqueda</a>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}

